@use "./main.scss" as *;
.Monster-wrapper {
  color: $primary-color;
  font-size: $attribut-sizes;
}
.header {
  font-size: $attribut-sizes;
}

.Monster-card {
  font-family: $font-stack;
}
.Input-form {
  width: 150px;
  background-color: blue($color: #1244f7);
}
