$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: rgba(10, 66, 235, 0.329);
$color-header: rgba(193, 128, 9, 0.623);
//-------------------------------------------//

$attribut-sizes: xx-large;
